 [6026] 실수 2개 입력받아 합 계산하기

In [3]:
a = float(input())
b = float(input())
print(a+b)

0.1
0.9
1.0

[6027] 10진 정수 입력받아 16진수로 출력하기1

In [4]:
a = input()
n = int(a)            
print('%x'% n)

255
ff

[6028] 10진 정수 입력받아 16진수로 출력하기2

In [5]:
a = input()
n = int(a)            
print('%x'.upper()% n)

255
FF

[6029] 16진 정수 입력받아 8진수로 출력하기

In [6]:
a = input()
n = int(a, 16)            
print('%o' % n)

f
17

[6030] 영문자 1개 입력받아 10진수로 변환하기

In [8]:
a = ord(input())
print(a)

A
65

[6031] 정수 입력받아 유니코드 문자로 변환하기

In [9]:
a = int(input())
print(chr(a))

65
A

[6032] 정수 1개 입력받아 부호 바꾸기

In [11]:
a = int(input())
print(-a)

-1
1

[6033] 문자 1개 입력받아 다음 문자 출력하기

In [19]:
a = ord(input())
print(chr(a+1))

a
b

[6034] 정수 2개 입력받아 차 계산하기

In [28]:
a, b = input().split()

print(int(a) - int(b))

123 -123
246

[6035] 실수 2개 입력받아 곱 계산하기

In [30]:
a, b = input().split()

print(float(a) * float(b))

0.5 0.2
0.1

[6036] 단어 여러 번 출력하기

In [31]:
a, b = input().split()

print(a*int(b))

love 3
lovelovelove

[6037] 문장 여러 번 출력하기

In [32]:
a = input()
b = input()
print(int(a) * b)

3
I love CS
I love CSI love CSI love CS

[6038] 정수 2개 입력받아 거듭제곱 계산하기

In [33]:
a, b = input().split()
print(int(a)**int(b))

2 10
1024

[6039] 실수 2개 입력받아 거듭제곱 계산하기

In [34]:
a, b = input().split()
print(float(a)**float(b))

4.0 2.0
16.0

[6040] 정수 2개 입력받아 나눈 몫 계산하기

In [35]:
a, b = input().split()
print(int(a)//int(b))

10 3
3